
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutPage_Detail.cshtml";
}


<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Error!</h4>
    <p>@ViewBag.Message</p>
    <hr>
    <p class="mb-0">Please contact support or try again later.</p>
</div>

<div class="text-center">
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Go back to Home</a>
</div>