CREATE DATABASE DB_Resortf
GO
USE [DB_Resortf]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 25-Nov-24 12:42:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[RoomID] [int] NULL,
	[PromotionID] [int] NULL,
	[BookingDate] [datetime] NULL,
	[CheckInDate] [datetime] NULL,
	[CheckOutDate] [datetime] NULL,
	[TotalPrice] [decimal](10, 2) NULL,
	[Status] [nvarchar](50) NULL,
	[PaymentType] [nvarchar](50) NULL,
 CONSTRAINT [PK__Bookings__73951ACD2EA5C258] PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 25-Nov-24 12:42:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceID] [bigint] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NULL,
	[InvoiceDate] [datetime] NULL,
	[TotalAmount] [decimal](10, 2) NULL,
	[IsPaid] [bit] NULL,
	[PaymentStatus] [nvarchar](50) NULL,
	[PaymentMethod] [nvarchar](50) NULL,
 CONSTRAINT [PK__Invoices__D796AAD51CC46811] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 25-Nov-24 12:42:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[PromotionID] [int] IDENTITY(1,1) NOT NULL,
	[PromotionCode] [nvarchar](20) NULL,
	[Description] [nvarchar](255) NULL,
	[Discount] [decimal](5, 2) NULL,
	[IsFlashDeal] [bit] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PromotionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 25-Nov-24 12:42:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[RoomID] [int] NULL,
	[ServiceID] [int] NULL,
	[Rating] [int] NULL,
	[Comment] [nvarchar](255) NULL,
	[ReviewDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 25-Nov-24 12:42:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[RoomType] [nvarchar](50) NULL,
	[Price] [decimal](10, 2) NULL,
	[Status] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[ImageRooms] [nvarchar](255) NULL,
	[MainImage] [varchar](255) NULL,
	[Description_check_in] [nvarchar](max) NULL,
	[Description_check_out] [nvarchar](max) NULL,
	[Description_service_room] [nvarchar](max) NULL,
	[Description_bed_type] [nvarchar](max) NULL,
	[Description_max_occupancy] [int] NULL,
	[Description_room_no_smoke] [nvarchar](max) NULL,
	[Description_room_size] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 25-Nov-24 12:42:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](100) NULL,
	[ServiceCategory] [nvarchar](50) NULL,
	[Price] [decimal](10, 2) NULL,
	[Description] [nvarchar](255) NULL,
	[StatusServices] [nvarchar](255) NULL,
	[ImageServices] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TemporarySchedule]    Script Date: 25-Nov-24 12:42:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TemporarySchedule](
	[id] [varchar](50) NOT NULL,
	[customerId] [varchar](50) NOT NULL,
	[startTime] [datetime] NOT NULL,
	[endTime] [datetime] NOT NULL,
	[serviceId] [varchar](50) NOT NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsedServices]    Script Date: 25-Nov-24 12:42:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsedServices](
	[UsedServiceID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [bigint] NULL,
	[ServiceID] [int] NULL,
	[Quantity] [int] NULL,
	[TotalPrice] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[UsedServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 25-Nov-24 12:42:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](15) NULL,
	[Address] [nvarchar](255) NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](255) NULL,
	[RegistrationDate] [datetime] NULL,
	[Role] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([BookingID], [UserID], [RoomID], [PromotionID], [BookingDate], [CheckInDate], [CheckOutDate], [TotalPrice], [Status], [PaymentType]) VALUES (63, 1, 2, NULL, CAST(N'2024-11-25T02:45:44.253' AS DateTime), CAST(N'2024-12-01T14:00:00.000' AS DateTime), CAST(N'2024-12-02T12:00:00.000' AS DateTime), CAST(800000.00 AS Decimal(10, 2)), N'Pending', N'Prepaid')
INSERT [dbo].[Bookings] ([BookingID], [UserID], [RoomID], [PromotionID], [BookingDate], [CheckInDate], [CheckOutDate], [TotalPrice], [Status], [PaymentType]) VALUES (64, 1, 1, NULL, CAST(N'2024-11-25T02:48:25.250' AS DateTime), CAST(N'2024-11-26T14:00:00.000' AS DateTime), CAST(N'2024-11-27T12:00:00.000' AS DateTime), CAST(500000.00 AS Decimal(10, 2)), N'Pending', N'Prepaid')
INSERT [dbo].[Bookings] ([BookingID], [UserID], [RoomID], [PromotionID], [BookingDate], [CheckInDate], [CheckOutDate], [TotalPrice], [Status], [PaymentType]) VALUES (65, 1, 1, NULL, CAST(N'2024-11-25T02:50:35.647' AS DateTime), CAST(N'2024-11-27T14:00:00.000' AS DateTime), CAST(N'2024-11-28T12:00:00.000' AS DateTime), CAST(500000.00 AS Decimal(10, 2)), N'Pending', N'Prepaid')
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoices] ON 

INSERT [dbo].[Invoices] ([InvoiceID], [BookingID], [InvoiceDate], [TotalAmount], [IsPaid], [PaymentStatus], [PaymentMethod]) VALUES (3, 67, CAST(N'2024-11-25T03:01:32.227' AS DateTime), CAST(800000.00 AS Decimal(10, 2)), 1, N'Paid', N'PayPal')
INSERT [dbo].[Invoices] ([InvoiceID], [BookingID], [InvoiceDate], [TotalAmount], [IsPaid], [PaymentStatus], [PaymentMethod]) VALUES (4, 69, CAST(N'2024-11-25T11:39:25.573' AS DateTime), CAST(2400000.00 AS Decimal(10, 2)), 1, N'Paid', N'PayPal')
SET IDENTITY_INSERT [dbo].[Invoices] OFF
GO
SET IDENTITY_INSERT [dbo].[Promotions] ON 

INSERT [dbo].[Promotions] ([PromotionID], [PromotionCode], [Description], [Discount], [IsFlashDeal], [StartDate], [EndDate]) VALUES (1, N'DISCOUNT10', N'Gi?m giá 10% cho d?t phòng d?u tiên.', CAST(10.00 AS Decimal(5, 2)), 0, CAST(N'2024-01-01T00:00:00.000' AS DateTime), CAST(N'2024-12-31T00:00:00.000' AS DateTime))
INSERT [dbo].[Promotions] ([PromotionID], [PromotionCode], [Description], [Discount], [IsFlashDeal], [StartDate], [EndDate]) VALUES (2, N'FLASH20', N'Uu dãi ch?p nhoáng: Gi?m giá 20% cho d?t phòng trong ngày.', CAST(20.00 AS Decimal(5, 2)), 1, CAST(N'2024-01-01T00:00:00.000' AS DateTime), CAST(N'2024-01-31T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Promotions] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([ReviewID], [UserID], [RoomID], [ServiceID], [Rating], [Comment], [ReviewDate]) VALUES (1, 1, 1, NULL, 5, N'Phòng r?t d?p và s?ch s?!', CAST(N'2024-10-09T13:13:11.720' AS DateTime))
INSERT [dbo].[Reviews] ([ReviewID], [UserID], [RoomID], [ServiceID], [Rating], [Comment], [ReviewDate]) VALUES (2, 2, 2, 1, 4, N'D?ch v? massage r?t thu giãn.', CAST(N'2024-10-09T13:13:11.720' AS DateTime))
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([ServiceID], [ServiceName], [ServiceCategory], [Price], [Description], [StatusServices], [ImageServices]) VALUES (1, N'Massage', N'Spa', CAST(300000.00 AS Decimal(10, 2)), N'D?ch v? massage thu giãn.', N'Available', N'massage.jpg')
INSERT [dbo].[Services] ([ServiceID], [ServiceName], [ServiceCategory], [Price], [Description], [StatusServices], [ImageServices]) VALUES (2, N'B?a sáng', N'Food', CAST(150000.00 AS Decimal(10, 2)), N'B?a sáng t? ch?n t?i nhà hàng.', N'Available', N'breakfast.jpg')
INSERT [dbo].[Services] ([ServiceID], [ServiceName], [ServiceCategory], [Price], [Description], [StatusServices], [ImageServices]) VALUES (3, N'Tour thành ph?', N'Tour', CAST(1200000.00 AS Decimal(10, 2)), N'Chuy?n tham quan thành ph? trong 1 ngày.', N'Available', N'city_tour.jpg')
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FullName], [Email], [PhoneNumber], [Address], [Username], [Password], [RegistrationDate], [Role]) VALUES (1, N'Phat', N'nguyenvana@gmail.com', N'0987654321', N'123 Ðu?ng ABC, Qu?n 1, TP.HCM', N'Phat', N'123', CAST(N'2024-10-09T13:13:11.697' AS DateTime), N'Customer')
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [PhoneNumber], [Address], [Username], [Password], [RegistrationDate], [Role]) VALUES (2, N'Tr?n Th? B', N'tranthib@gmail.com', N'0976543210', N'456 Ðu?ng DEF, Qu?n 2, TP.HCM', N'tranthib', N'hashed_password_B', CAST(N'2024-10-09T13:13:11.697' AS DateTime), N'Customer')
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [PhoneNumber], [Address], [Username], [Password], [RegistrationDate], [Role]) VALUES (3, N'Lê Van C', N'levanc@gmail.com', N'0965432109', N'789 Ðu?ng GHI, Qu?n 3, TP.HCM', N'Trinh', N'123', CAST(N'2024-10-09T13:13:11.697' AS DateTime), N'Admin')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Promotio__A617E4B68594C53E]    Script Date: 25-Nov-24 12:42:30 PM ******/
ALTER TABLE [dbo].[Promotions] ADD UNIQUE NONCLUSTERED 
(
	[PromotionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E47BD515C7]    Script Date: 25-Nov-24 12:42:30 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534301C3E73]    Script Date: 25-Nov-24 12:42:30 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((0)) FOR [IsPaid]
GO
ALTER TABLE [dbo].[Promotions] ADD  DEFAULT ((0)) FOR [IsFlashDeal]
GO
ALTER TABLE [dbo].[TemporarySchedule] ADD  DEFAULT ('chua thanh toán') FOR [status]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([PromotionID])
REFERENCES [dbo].[Promotions] ([PromotionID])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([RoomID])
REFERENCES [dbo].[Rooms] ([RoomID])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([RoomID])
REFERENCES [dbo].[Rooms] ([RoomID])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ServiceID])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UsedServices]  WITH CHECK ADD  CONSTRAINT [FK__UsedServi__Booki__628FA481] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
GO
ALTER TABLE [dbo].[UsedServices] CHECK CONSTRAINT [FK__UsedServi__Booki__628FA481]
GO
ALTER TABLE [dbo].[UsedServices]  WITH CHECK ADD FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ServiceID])
GO
